.Trash/
.CFUserTextEncoding
.DS_Store
.android/
.arduinoIDE/
.bash_profile
.bashrc
.cache/
.cargo/
.cocoapods/
.config/Autodesk/
.config/PowerlineSymbols.otf
.config/QtProject/
.config/com.corsair/
.config/configstore/
.config/fish/conf.d/omf.fish
.config/flutter/
.config/neofetch/
.config/nvim.bak/
.gitignore
.config/.gitignore
.config/Futu-Mac/deviceInfo.ini
.config/Futu-Mac/
.config/github-copilot/
.config/nvim/.gitignore
.config/nvim/.neoconf.json
.config/nvim/CopilotChat.nvim/
.config/simple-update-notifier/
.config/yarn/
.config/zed/
.dart-tool/
.dart/
.dartServer/
.digilent_dvctbl.txt
.docker/
.emulator_console_auth_token
.flutter
.flutter-devtools/
.gem/
.gitconfig
.github/
.gradle/
.lesshst
.local/
.npm/
.nuuid.ini
.oh-my-zsh/
.p10k.zsh
.platformio/
.pub-cache/
.swiftpm/
.viminfo
.vscode/
.wget-hsts
.yarnrc
.zcompdump-macbook-chan-5.8.1
.zcompdump-macbook-chan-5.8.1.zwc
.zcompdump-macbook-chan-5.9
.zcompdump-macbook-chan-5.9.zwc
.zprofile
.zsh/
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Development/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Qt5.12.12/
getting-started/
go/
wandrive/
.cups/
.expo/
.nvm/
.ssh/
app.json
node_modules/
package.json
pnpm-lock.yaml
.anaconda/
.bun/
.colima/
.conda/
.condarc
.config/.luarc.json
.config/nvim/lazy-lock.json
.continuum/
.keras/
.matplotlib/
.python_history
.rustup/
.vnc/
ChargingReminder.app/
bun.lockb
memilah-ml-tester/

.ServiceHub/
.aspnet/
.bash_history
.claude.json
.claude.json.backup
.claude/
.codeium/
.copilot/
.cursor/
.dotnet/
.nuget/
.pgadmin/
.templateengine/
.windsurf/
.zcompdump-macbook-chan-5.9.Mac.41832
.zcompdump-macbook-chan-5.9.Mac.58669
.zcompdump-macbook-chan-5.9.Mac.60054
.zcompdump-macbook-chan-5.9.zwc.old
.zcompdump-macbook-chan-5.9.Mac.40765
.antigravity/
.gemini/
.cloudflared/
